/*Reset*/
*{
    padding: 0;
    margin: 0;
}

/*Fontes*/
@font-face{
    font-family: Coolvetica;
    src: url(../fonts/coolvetica\ condensed\ rg.otf);
}
@font-face{
    font-family: Louis;
    src: url(../fonts/Louis\ George\ Cafe\ Bold.ttf);
}

/*Variáveis*/
:root{
    --cor1: #3d79c2;
    --cor2: #6394cf;
    --cor3: #fff;
    --cor4: #000;

    --fonte1: 'Coolvetica';
    --fonte2: 'Louis';
}

body{
    font-size: 1.2em;
}

/*Menu*/
nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--cor1);
    padding: 7px;
}

nav > a{
    color: var(--cor3);
    text-decoration: none;
    font-family: var(--fonte2);
    transition: 1s;
}

nav > a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
    color: var(--cor2);
    margin: 0;
    padding: 0;
}

/*Cabeçalho*/
header{
    background-color: var(--cor2);
    padding: 10px 0;
}

header > img{
    display: block;
    margin: auto;
}

/*Corpo da página*/
main{
    margin: 20px auto;
}

/*Conteúdo*/
section{
    max-width: 430px;
    margin: auto;
    text-align: justify;
    font-family: var(--fonte2);
    line-height: 1.5;
    padding:20px;
}

/*Título principal e subtítulo*/
section > h1, h2{
    font-family: var(--fonte1);
    margin: 20px 0;
    font-size: 2em;
    font-weight: bold;
}

/*Rodapé*/
footer{
    background-color: var(--cor1);
}

footer > p{
    text-align: center;
    font-weight: bold;
    font-family: var(--fonte1);
}

/*Telas médias*/
/*Tablets*/
@media (min-width: 768px){
    section{
        max-width: 750px;
        margin: auto;
    }

}
